html,
body,
* {
    padding: ;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.title{font-size: 5rem;
text-align: center;}
.parent {
    font-size: 30px;
    display: flex;
  justify-content: space-around;
  
  

}
.img {border: 1px solid teal;
box-sizing: border-box;
}