html,
body,
* {
    padding: ;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;

}
.title{font-size: 5rem;
text-align: center;
border: 1px solid sandybrown;
background-color: sandybrown;
border-radius: 25px;}

.parent {
    font-size: 30px;
    display: flex;
    margin: 1rem;
  justify-content: space-around;
  text-align: center;
  

}
.img {border: 1px solid teal;
box-sizing: border-box;

box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);
}
.text {background-color: blanchedalmond;
font-size: 2rem;
}