html,
body,
* {
    padding: ;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(194, 193, 193);

}
.title{font-size: 5rem;
text-align: center;
transition: all 1.7s;
animation: test 10s infinite;
}
.title:hover{transform: scale(1.05);}

.parent {
    font-size: 30px;
    display: flex;
    margin: 1rem;
  justify-content: space-around;
  text-align: center;
 
}

.img {border: 1px solid teal;
box-sizing: border-box;

transition: all 1.7s;

box-shadow: 4px 10px 15px rgb(0 0 0 / 0.2);
}
.text {background-color: blanchedalmond;
font-size: 2rem; transition: ease-in-out,.3s;
}
.img:hover{transform: scale(1.05);}
.text:hover{ box-shadow: inset 125px 0 0 0 #0fb739;
  background-color: antiquewhite;}
  .text2:hover{ box-shadow: inset 125px 0 0 0 #ffd700;}
  .text1:hover{ box-shadow: inset 125px 0 0 0 #ff00ff;}
  .text8:hover{ box-shadow: inset 125px 0 0 0 #464dcf;}
  .text3:hover{ box-shadow: inset 125px 0 0 0 #f4ff29;}
  .text4:hover{ box-shadow: inset 125px 0 0 0 #e7dddd;}
  .text5:hover{ box-shadow: inset 125px 0 0 0 #ff00b3;}
  .text6:hover{ box-shadow: inset 125px 0 0 0 #ff3014;}
  .text7:hover{ box-shadow: inset 125px 0 0 0 #dda311;}


@keyframes test{
  0%{
background-color: red;
  }
15%{
background-color: orange;
}
30%{
background-color:yellow ;
}
45%{
background-color: green;
}
60%{
background-color: blue;
}
75%{
background-color: indigo;
}
90%{
background-color: violet;
}
100%{
background-color: red;
}
}